body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu", "Roboto", "Noto Sans", "Droid Sans", sans-serif;
    margin: 0;
}

header, th, #gallery > div {
    background-color: #ede5d2;
}

body > header.small { font-size: 0.5em; }
body > header.small nav { font-size: 2em; }

body > header {
    align-items: center;
    border-bottom: 1px solid #989d89;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-evenly;
    padding: 0 1em;
}

body > header > * {
    display: inline-block;
}

body > header > h1 {
    flex: 0 1 20em;
    text-align: center;
}

body > header > nav a {
    text-decoration: none;
}

body > header > nav ul {
    padding: 0;
}

body > header > nav li {
    display: inline;
}

body > header > nav li:nth-child(n + 2)::before {
    content: '· ';
}

body > header #logo {
    height: 10em;
    vertical-align: middle;
}

body > main {
    padding: 1.5em 2em;
}

body > main > * {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

body > main .table {
    max-width: 1400px;
    margin: 0 auto;
    overflow-x: auto;
}

body > main header {
    align-items: center;
    border-bottom: 1px solid #989d89;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-between;
    padding: 1em;
}

body > main header h2 {
    flex: 1 1 20em;
    margin: 0;
}

body > main header #date {
    margin: 0;
    white-space: nowrap;
}

a {
    color: #484b3e;
}

a svg path {
    fill: currentColor;
}

hr {
    border-bottom: 0;
    border-style: solid;
    color: #989d89;
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: 1em;
}

article h2:not(:hover) .anchor {
    visibility: hidden;
}

article .anchor {
    font-size: 0;
    margin-right: 0.5rem;
    vertical-align: middle;
}

article .anchor .octicon {
    width: 1rem;
    height: 1rem;
}

article section {
    padding-top: 2em;
}

article > h2 {
    margin-left: -1.5rem;
}

table {
    border-collapse: collapse;
}

table thead tr {
    border-bottom: 3px solid black;
}

table tbody tr {
    border-bottom: 1px solid black;
    position: relative;
    vertical-align: top;
}

table tbody .row-link::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

table th, table td {
    padding: 0.5em;
}

table tbody th {
    text-align: start;
    vertical-align: top;
}

svg {
    vertical-align: middle;
}

table td p {
    margin-bottom: 0;
}

table td p:first-child {
    margin-top: 0;
}

main > nav ul {
    padding: 0;
    text-align: center;
}

main > nav li {
    display: inline;
    list-style-type: none;
}

main > nav li > * {
    padding: 0.25em 0.75em;
}

main > nav a[href][aria-current], main > nav a[href]:hover {
    outline: 2px solid black;
}

.sr-only {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

#gallery {
    display: flex;
    gap: 1em;
    margin-bottom: 1em;
}

#gallery > div {
    border: 1px solid black;
    flex: 1 1;
}

#gallery > div a {
    display: flex;
    flex-direction: column;
}

#gallery > div h3 {
    margin: 0;
    padding: 0.5em;
}

#gallery > div img {
    width: 100%;
}
